We ought to consolidate code in Wrangler for computing a URL given an absoluteURL and a RID

To install a ruleset, you have two options:

1. Provide the absolute (full) URL of where the source code is located, or
2. Provide an absolute URL of an already-installed ruleset (usually the one that is evaluating) and the RID of another ruleset whose source code is located in the same folder (see [RFC-3986, section 4.2](https://datatracker.ietf.org/doc/html/rfc3986#section-4.2))

As Wrangler is written now, there are two places where we compute an absolute URL from a given URL and a RID. These are:

1. The rule `install_ruleset_relatively` [here](https://github.com/Picolab/pico-engine/blob/master/packages/pico-engine/krl/io.picolabs.wrangler.krl#L259-L274), which I view as the "official" place
2. The rule `initialize_child_after_creation` [here](https://github.com/Picolab/pico-engine/blob/master/packages/pico-engine/krl/io.picolabs.wrangler.krl#L399-L419), which should be changed in lines 410-411 to `raise` the same event but with different attributes

The reason for consolidating the code is to follow the Don't Repeat Yourself (DRY) principle, so that code that does something ever so complicated should only appear in one place.